body {
  display: grid;
  grid-template-columns: 25fr 75fr;
  border-color: black;
  border-width: thin;
  border-style: solid;
}

.left-side-parent {
  display: flex;
  flex-direction: column;
  border-color: black;
  border-width: thin;
  border-style: solid;
  background-color: #711721;
}

.right-side-parent {
  display: grid;
  grid-template-rows: .75fr 3fr 17.5fr;
  border-color: black;
  border-width: thin;
  border-style: solid;
}

/* left side parent elements */

.left-sub-section-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom-style: inset;
  border-bottom-color: #650C0C;
}

.circle-image-1 {
  width: 75px;
  height:75px;
  border-radius: 50%;
  margin-top: 15px;
}

.left-sub-section-2 {
  border-bottom-style: inset;
  border-bottom-color: #650C0C;
}

.left-png {
  height: 20px;
  width: 20px;
}

.left-h4 {
  color: #F1EED4;
}

#left-h4-1 {
  margin-top: 10px;
  margin-bottom:15px;
}

/* right side parent elements */
/* input row  and elements */
.input-row {
  display:flex;
  grid-row: 1 / 2;
  height: 52px;
}

.search-button {
  background-color: #F1EED4;
  height: 52px;
  width: 52px;
}

.top-input {
 flex-grow: 1;
 background-color: #F1EED4;
}

#search-button-1 {
}

#search-button-2 {
}

#search-button-3 {
}

#search-button-4 {
}
/* title row and elements */

.title-row {
  grid-row: 2 /3;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: black;
  background-color: #F1EED4;
  display: grid;
  grid-template-columns: 1fr 10fr 9fr 2fr 5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 205px;
}

.title-box {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-template-rows: 5fr 4fr;
}

.title-title {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.title-h5 {

}

#title-h5-1 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#title-h5-2 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.title-widgets {
  grid-column: 4 / 6;
  grid-row: 2 / 3;
}

.oval-title-widget {

}

.round-title-widget {

}

.title-button-bar {
  grid-column: 2 / 5;
  grid-row: 4 / 5;
}

.title-button {
  background: none;
  border: none
}

/* image and bottom row */

.image-and-bottom {
  grid-row: 3 / 4;
  display: grid;
  grid-template-rows: 4.5fr 13fr;
  background: url("https://cache.desktopnexus.com/thumbseg/1778/1778104-bigthumbnail.jpg");
}
/* image row and elements */

.image-row {
  grid-row: 1 / 2;
  /* background-color: #EF403E; */
}

.three-circle-box {

}

.circle-image-trio {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.oval-label {
  border-style: inset;
  border-color: black;
  border-radius: 40%;
  width: 140px;
  background-color: #F1EED4;
  text-align: center;
  margin: 0;

}

.rectangle-image-box {

}

.rectangle-image {

}

/* bottom row and elements */

.bottom-row {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 75fr 25fr;
  /* background-color: #EF403E; */
}

/* bottom main and elements */

.bottom-main {
 border-style: solid;
 grid-column: 1 / 2;
 border-width: thin;
 border-color: black;
 margin: 20px;
 background-color: #F1EED4;
}

.bottom-main-title {
  background-color: #721821;
}

.bottom-title {
  margin-top: 0;
}
.action-button {

}

.profile-info {

}

.profile-h4 {

}

.profile-p {

}

.profile-img {

}

/* bottom side and elements */

.bottom-side {
  grid-column: 2 / 3;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.activity-button {
  background: #D8F2D5;
  font-size: 16pt;
  border-radius: 20px;
}

.activity-img {
  height: 30px;
  width: 30px;
}
.side-h2 {

}

.side-p {

}

.side-input {

}

.side-button {

}
