body {
  display: grid;
  grid-template-columns: 25fr 75fr;
}

.left-side-parent {
  display: flex;
  flex-direction: column;
}

.right-side-parent {
  display: grid;
  grid-template-rows: 6fr 13fr 23fr 59fr;
}

/* left side parent elements */

.circle-image-1 {

}

.left-h4 {

}

/* right side parent elements */
/* input row  and elements */
.input-row {
  display: grid;
  grid-template-columns: 7.5fr 70fr 7.5fr 7.5fr 7.5fr;
  height: 40px;
  grid-row: 1 / 2;
}

.search-button {

}

.top-input {
 grid-column: 2 / 3;
}

#search-button-1 {

}

#search-button-2 {

}

#search-button-3 {

}

#search-button-4 {

}
/* title row and elements */

.title-row {

}

.title-box {

}

.title-title {

}

.title-h4 {

}

.title-widgets {

}

.oval-title-widget {

}

.round-title-widget {

}

.title-button-bar {

}

.title-button {

}

/* image row and elements */

.image-row {

}

.three-circle-box {

}

.circle-image-trio {

}

.oval-label {

}

.rectangle-image-box {

}

.rectangle-image {

}

/* bottom row and elements */

.bottom-row {

}

/* bottom main and elements */

.bottom-main {

}

.bottom-main-title {

}

.action-button {

}

.profile-info {

}

.profile-h4 {

}

.profile-p {

}

.profile-img {

}

/* bottom side and elements */

.bottom-side {

}

.activity-buttton {

}

.side-h2 {

}

.side-p {

}

.side-input {

}

.side-button {

}
